* {
    font-family: 'Monda', sans-serif;
}

h1 {
    font-weight: inherit;
    font-size: 50px;
}

h2 {
    font-weight: inherit;
    font-size: 40px;
}

h3 {
    font-weight: inherit;
    font-size: 30px;
}

h4 {
    font-weight: inherit;
    margin: 0;
    font-size: 20px;
}

h5 {
    font-weight: inherit;
    margin: 0;
    font-size: 18px;
}

h6 {
    font-weight: inherit;
    margin: 0;
    font-size: 16px;
}

button {
    border: 0;
    padding: 0;
    display: block;
}

a {
    color: black;
    text-decoration: none;
    &[href^="http"] {
        color: teal;
        text-decoration: underline;
    }
}