.contact-left-container {
    // font-size: 20px;
    // font-weight: bold;
    // * {
    //     margin-top: 10px;
    // }
    .contact-left-bg {
        position: fixed;
        top: 50px;
        height: calc(100% - 100px);
        right: 15px;
        z-index: -1;
    }
}

.contact-right-container {
    .contact-map-wrapper {
        position: fixed;
        top: 50px;
        left: 15px;
        height: calc(100% - 100px);
        aspect-ratio: 7 / 8;
        .contact-right-bg {
            position: absolute;
        }
        .github_icon {
            position: absolute;
            top: 7.6%;
            left: 9.16%;
            height: 39.58%;
            transform: rotate(5.38deg);
        }
        .linkedin_icon {
            position: absolute;
            top: 58.55%;
            left: 20.95%;
            height: 12.5%;
            transform: rotate(10.39deg);
        }
    }
    img {
        height: 100%;
    }
}