$dark-grey: #545454;
    
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale3d(0.1,0.1,1);
    }
    
    to {
        opacity: 0;
        transform: scale3d(1.2,1.2,1);
    }
}

@mixin rings($duration, $delay) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -50px;
    left: -50px;
    right: 0;
    bottom: 0;
    content: '';
    height: 100%;
    width: 100%;
    border: 50px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    animation-name: ripple;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.65,0,.34,1);
    z-index: -1;
}

.leftpage {
    display: flex;
}

.rightpage.page-0 {
    $margin: 15px;
    width: calc(50% - $margin);
    z-index: 95;
    // background-color: $dark-grey;
    box-shadow: 0 0 0 1px white;
}

.cover-left-container {
    font-family: 'Monda', sans-serif;
    align-self: center;
    padding: 0 50px;

    .cover-greeting {
        font-size: 50px;
    }
    .cover-message {
        font-size: 30px;
    }
    .cover-signature {
        font-size: 50px;
        text-align: right;
    }
}

.cover-right-container {
    .cover-icon {
        width: 40%;
        margin: 5% 30%;
    }
    .cover-button {
        background-color: rgba(white, 0.5);
        border-radius: 50%;
        width: 30%;
        padding-top: 30%;
        margin: auto;
        display: block;
        cursor: pointer;

        position: relative;
        &::after {
            @include rings(3s, 0s);
        }
        &::before {
            @include rings(3s, 0.5s);
        }
    }
}