.edu-left-container {
    position: absolute;
    margin: 50% 50px 0 50px;
    font-family: "Monda", sans-serif;

    .edu-row {
        .edu-title {
            font-size: 20px;
        }
        .edu-majors {
            .edu-major {
                cursor: pointer;
                display: flex;
                font-size: 18px;
                .edu-major-name {
                    text-decoration: underline;
                }
                &-pointer {
                    margin-right: 10px;
                }
            }
            .edu-major-selected {
                font-weight: bold;
            }
        }
        .edu-info {
            font-size: 18px;
        }
    }
}

.edu-right-container {
    // display: none;
    $margin: 20px;
    height: auto;
    margin: $margin*2 0;
    margin-left: 50px + $margin;
    margin-right: $margin;
    font-family: "Monda", sans-serif;

    .edu-major-name {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }
    .edu-major-courses {
        margin-top: $margin;
        .course-row {
            .course-title {
                cursor: pointer;
                display: flex;
                font-size: 18px;
                &-pointer {
                    margin: 0 10px;
                }
            }
        }
        .course-row-selected {
            .course-title {
                font-weight: bold;
            }
            .course-info {
                font-size: 16px;
                margin: 10px 30px 10px;
            }
        }
    }
}