.preface-right-container {
    .education {
        padding: calc(60% + 50px) 50px 50px 50px;
        // font-family: 'Love Ya Like A Sister', cursive;
        font-size: 20px;
        ul {
            margin: 0;
        }
    }
}