.project-left-container {
    font-family: "Monda", sans-serif;

    .project-row {
        margin-bottom: 10px;
        display: flex;
        cursor: pointer;

        .project-pointer {
            margin-right: 10px;
        }
        .project-title {
            font-size: 20px;
        }
        .project-info {
            font-size: 16px;
        }

        &-selected {
            .project-pointer {
                font-weight: bold;
            }
            .project-title {
                font-weight: bold;
            }
        }
    }
}

.project-right-container {
    display: none;
    $margin: 20px;
    margin: $margin;
    margin-left: 60px;
    height: calc(100% - 2 * $margin);

    .project-img-container {
        position: absolute;
        display: grid;
        height: 250px;
        box-shadow: inset 0 0 4px 1px rgba(black, 0.5);
        margin: $margin;
        // margin-top: $margin * 0.5;

        .project-img {
            align-self: center;
            justify-self: center;
            max-width: 90%;
            max-height: 90%;
            height: 90%; 
            width: 90%; 
            object-fit: contain;
        }
    }
    .project-descrip-container {
        font-family: "Monda", sans-serif;
        font-size: 16px;
        position: absolute;
        margin-top: calc(250px + $margin * 2);
        margin-left: $margin;
        margin-right: $margin * 2;
        height: calc(100% - 250px - $margin * 4);
        overflow-y: auto;
    }
}