$grey: #808080;
$mid-grey: #C4C4C4;
$light-grey: #B8B8B8;
$lighter-grey: #DADADA;

.link {
    text-decoration: underline;
}

.ibook-container {
    transform: rotate(2deg) translateY(-5px);
    position: absolute;
    height: 100%;
    width: 100%;
    // box-shadow: inset 0px 0px 0px 15px $grey;
    // background-color: white;
}

.ibook-spine {
    z-index: 100;
    $width: 15px;
    position: absolute;
    top: -$width;
    left: calc(50% - $width/2);
    width: $width;
    height: calc(100% + $width);
    background-color: #450025;
    display: grid;
    // * {
    //     position: relative;
    //     left: -50px + $width/2;
    //     width: 100px;
    //     height: $width;
    //     border-radius: $width;
    //     background-color: $light-grey;
    // }
}

.page {
    $margin: 0px;
    margin: $margin 0 $margin 0;
    position: absolute;
    height: calc(100% - 2 * $margin);
    // background-color: white;
    
    .pageheader {
        z-index: auto;
        width: 100%;
        height: 100%;
        .pagetitle {
            $height: 70px;
            $text-width: 0.6;
            position: absolute;
            background-color: $mid-grey;
            display: flex;
            height: $height;
            width: 100% * (0.5 + $text-width / 2);
            top: calc(30% - $height / 2);
            &-icon {
                height: $height - 20px;
                width: 100% * (( 0.5 - $text-width / 2) / (0.5 + $text-width / 2));
                margin: auto;
                margin-right: -5%;
            }
            &-text {
                font-family: 'Love Ya Like A Sister', cursive;
                font-size: $height + 20px;
                // font-weight: bold;
                width: 100% * ($text-width / (0.5 + $text-width / 2));
                text-align: center;
                align-self: center;
            }
        }
        .pagelogo {
            width: 40%;
            margin: 10% 30% 0 30%;
        }
    }

    .pageheader.bookmark {
        .pagetitle {
            $height: 40px;
            z-index: 90;
            background-color: $lighter-grey;

            &:hover, &:focus {
                .pagetitle-text {
                    display: block;
                    font-size: $height - 20px;
                    margin: auto 10px;
                }
            }

            height: $height;
            width: max-content;
            cursor: pointer;
            margin-top: calc(var(--index) * 55px + 15px);

            &-icon {
                height: $height - 5px;
                width: $height - 5px;
                margin: auto 10px;
            }
            &-text {
                display: none;
                margin: auto;
            }
        }
    }
}

.leftpage {
    $margin: 15px;
    width: calc(50% - $margin * (var(--index) + 1));
    margin-left: calc($margin * (var(--index) + 1));
    border-radius: 5px 0 0 5px;
    box-shadow: -2px 2px 2px 0px black;
    overflow-y: auto;
    overflow-x: hidden;
}

.rightpage {
    $margin: 15px;
    width: calc(50% - $margin * (var(--length) - var(--index)));
    left: 50%;
    margin-right: calc($margin * (var(--index) + 1));
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 2px 2px 0px black, 0 1px 0 1px black;
    // overflow-y:auto

    .pagetitle {
        right: 0;
    }
}

.ibook-curr-page {
    $transition-time: 0.5s;
    .leftpage {
        transition: transform $transition-time;
        transform-style: preserve-3d;
        transform-origin: right;
        transform: rotateY(0deg);

        .pagetitle {
            height: 50px;
            position: absolute;
            left: 20%;
            .pagetitle-text {
                position: absolute;
                bottom: -20px;
            }
        }

        .container {
            position: absolute;
            top: 40%;
            left: 50px;
            right: 50px;
            bottom: 50px;
            font-family: 'Love Ya Like A Sister', cursive;
        }
    }
    .rightpage {
        transition: transform $transition-time;
        transform-style: preserve-3d;
        transform-origin: left;
        transform: rotateY(0deg);
    }

    .flip-left .rightpage {
        transition: transform $transition-time;
        transform-style: preserve-3d;
        transform-origin: left;
        transform: rotateY(90deg);
    }
    .flip-left .leftpage {
        transition: transform $transition-time;
        transform: rotateY(-90deg);
    }

    .flip-right .leftpage {
        transition: transform $transition-time;
        transform-style: preserve-3d;
        transform-origin: right;
        transform: rotateY(90deg);
    }
    .flip-right .rightpage {
        transition: transform $transition-time;
        transform: rotateY(-90deg);
    }
}

.page-0 {
    background: #FFF6DF;
}

.page-0.rightpage {
    background: #CFA8D9;
}

.page-1 { // Preface
    background: #FF008A;
    .pageheader .pagetitle {
        background: #FF008A;
        .pagetitle-text {
            color: #2FEA00;
            mix-blend-mode: multiply;
        }
    }
}

.page-2 {
    background: #FF6060;
    .pageheader .pagetitle {
        background: #AD00FF;
        .pagetitle-text {
            mix-blend-mode: screen;
            color: #60F3BD;
        }
    }
}

.page-3 {
    background: #450025;
    .pageheader .pagetitle {
        background: white;
        .pagetitle-text {
            color: black;
        }
    }
}